  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Dal 1 Novembre PickMeUp è attivo sulla tratta Trento-Povo! </h2>
              <br />
              <a href="https://telegram.me/PickMeUp_bot" class="btn btn-default btn-xl wow tada">Iscriviti</a>
              <br />
              <p class="text-faded text-justify"><em>Ricorda che il servizio è attualmente in fase di prova: non tutto funziona come dovrebbe e alcune funzioni (es. commenti e tracciamento) sono implementate solo in parte. Per ora non è previsto alcun rimborso per gli autisti: sentiti libero di offrirgli un caffè e ricordati di ringraziare.</em></p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d11072.286235126068!2d11.13115938362433!3d46.06961430285024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x478276ca634d54b7%3A0xbbb59dc49c7b4a20!2sTrento-Port&#39;aquila%2C+Trento%2C+TN!3m2!1d46.069905!2d11.128513!4m5!1s0x478276951b73dfcf%3A0xad03d296905b53f3!2sPovo+Sommarive%2C+Povo%2C+Trento!3m2!1d46.065585999999996!2d11.150447999999999!5e0!3m2!1sit!2sit!4v1447156882397" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>
  </aside>
