  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Dal 1 Novembre PickMeUp è attivo sulla tratta Trento-Povo! </h2>
              <a href="https://telegram.me/PickMeUp_bot" class="btn btn-default btn-xl wow tada">Iscriviti</a>
              <p class="text-faded">Ricorda che il servizio è attualmente in fase di prova: non tutto funziona come dovrebbe e alcune funzioni (es. commenti e tracciamento) sono implementate solo in parte. Per ora non è previsto alcun rimborso per gli autisti: sentiti libero di offrirgli un caffè.</p>
          </div>
      </div>
  </aside>
