<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Istruzioni</h2>
                <hr class="light">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                     <p>
                     <ol>
                        <li>Installa Telegram 
                        <a href="https://telegram.org/dl/ios"><i class="fa fa-apple"></i></a>
                        <a href="https://telegram.org/dl/android"><i class="fa fa-android"></i></a>
                        <a href="https://telegram.org/dl/wp"><i class="fa fa-windows"></i></a>
                        </li>
                        <li>Aggiungi PickMeUp_bot ai tuoi contatti</li>
                        <li>Inizia a viaggiare! PickMeUp è semplice.</li>
                    </ol>
                    </p>
                    <p class="text-faded">Il giorno 1 Novembre 2015 inizia ufficialmente la sperimentazione del servizio sulla tratta Trento Port'Aquila-Povo sommarive.</p>
                    <p>Ricorda che il servizio è attualmente in fase di prova: non tutto funziona come dovrebbe e alcune funzioni (es. commenti e tracciamento) sono implementate solo in parte.</p>
                </div>
                <a href="https://telegram.me/PickMeUp_bot" class="btn btn-default btn-xl">Inizia a usare PickMeUp</a>
            </div>
        </div>
    </div>
</section>
