<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">PickMeUp è semplice</h2>
                <hr class="light">
                <p>
                    Non serve installare una nuova app, PickMeUp funziona via <a href='https://telegram.org/'></a>Telegram</a>. Se non usi già Telegram, installalo subito: è disponibile per iOS, Android e Windows Phone.
                </p>
                
                <p>
                    Con PickMeUp puoi gestire e organizzare al volo passaggi in macchina (car pooling) in modo sicuro e dinamico: il servizio è stato ideato come un sistema di coordinamento tra persone ragionevoli, basato sulla solidarietà e l’altruismo.
                </p>
                <p class="text-faded">Il giorno 1 Novembre 2015 inizia la sperimentazione del servizio a Trento sulla tratta Port'Aquila-Università (Povo sommarive).</p>
                <p class="text-faded">Ricorda che il servizio è attualmente in fase di prova: non tutto funziona come dovrebbe e alcune funzioni (es. commenti e tracciamento) sono implementate solo in parte.</p>
                <a href="https://telegram.me/PickMeUp_bot" class="btn btn-default btn-xl">Unisciti anche tu!</a>
            </div>
        </div>
    </div>
</section>
