<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contattaci</h2>
                <hr class="primary">
                <p>PickMeUp è un nato da poco e per funzionare bene ha bisogno anche del tuo aiuto. Per darci il tuo commento, collaborare con noi o saperne di più contattaci via twitter o manda una mail.</p>
                <p>Se vuoi rimanere sempre aggiornato sugli ultimi aggiornamenti di PickMeUp basta mandare una mail a <a class='text-faded' href="mailto:pickmeup_tiramisu+subscribe@googlegroups.com" target="_top" /></p>
                <p>Il software è open source e disponibile su GitHub: se sei uno sviluppatore e vuoi darci una mano dai un'occhiata al nostro repository.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
