<section id="faq">
<div class="container">
    <h2 class="section-heading text-center">FAQ</h2>
                <hr class="text-center">
    <br />
    <br />
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Questa sezione è in fase di costruzione! Se hai dubbi non esitare a contattarci. 
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader">Informazioni generali</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Verranno aggiunte nuove tratte?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                Certo!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Quanto costa?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                Zero. PickMeUp è gratuito. Per ora funziona grazie alla buona volontà di un piccolo gruppo di persone e grazie soprattutto al buon cuore dei guidatori. Se sei  un passeggero sentiti libero di offrire un caffè.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Does PickMeUp work only in Italian?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                Of course not! Thanks to a small group of volunteers is available in English, German, French, Russian and Polish.
                </div>
            </div>
        </div>

        <div class="faqHeader">Guidatori</div>
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">Come si diventa autisti PickMeUp?</a>
                </h4>
            </div>
            <div id="collapseTwenty" class="panel-collapse collapse">
                <div class="panel-body">
                    Tutti gli utenti possono essere sia autisti che passeggeri. Non è richiesta nessuna certificazione. Basta premere <kbd>Autista</kbd>.
                </div>
            </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone">Perché dovrei offrire un passaggio gratuito?</a>
                </h4>
            </div>
            <div id="collapseTwentyone" class="panel-collapse collapse">
                <div class="panel-body">
                    Perché così facendo contribuirai a ridurre il traffico e quindi l'inquinamento e inoltre potrai conoscere nuove persone. Il viaggio lo dovrai fare comunque, quindi perché non farlo in compagnia?
                    <br />
                    ...non sei soddisfatto della risposta? Sappi che stiamo studiando come fare per premiare la tua buona volontà: es. buoni benzina, buoni parcheggio,ecc.
                </div>
            </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Alla fermata c'è un mio amico ma ci sono altre persone con un codice inferiore al suo. Che faccio?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    A te la scelta. Avrai comunque dato un passaggio!
                </div>
            </div>
        
        
        <div class="faqHeader">Passeggeri</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Ho chiesto un passaggio ma poi ho cambiato idea. Che faccio?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Disdici il passaggio premendo <kbd>Annulla</kbd>. In questo modo il sistema comunicherà al guidatore di non dover passare a prenderti.
                    <br/>
                    Tutte le richieste sono annullate automaticamente se non soddisfatte entro 30 minuti.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Il sistema mi dice "Il tuo codice è PT13". Che significa?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Serve a gestire le code. Come in salumeria: chi si prenota prima, viene servito prima. In questo caso se il guidatore dovesse avere un solo posto, tu avrai precedenza su PT14,PT15...
                </div>
            </div>
        </div>
        
    </div>

</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>
</section>
