<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Carpooling made easy!</h1>
            <hr>
            <p>PickMeUp ti aiuta a muoverti in città in modo semplice e veloce. Scarica Telegram sul tuo smartphone, aggiungi PickMeUp tra i tuoi contatti e inizia a viaggiare!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Scopri di più</a>
            <h2>NEWS: Pickmeup 2.0 è in arrivo!</h2>
        </div>
    </div>
</header>
