  <aside class="bg-white">
      <div class="container text-center">
<!--          <div class="news">
              <h2>News: PickMeUp su Sanbaradio! </h2>
              <br />
              <p class="wow tada">Ascolta l'intervista</p>
              <div>
                <audio controls>
                  <source src="http://www.sanbaradio.it/files/private/Servizio%20PickMeUp.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
              <br />
          </div>
  -->
          <div class="news">
              <h2>News</h2>
              <hr />
              <br />
              <p>Domani Mercoledì 16 Marzo saremo a Povo 2, aula B104</p>
              <p>Si terrà un incontro organizzato dalla Rete degli studenti universitari del Trentino.</p>
              <p>"La mobilità verso la collina: linea 5, treno, car pooling. Cosa ci aspetta?”</p>
              <p>Vi invitiamo a partecipare numerosi, sarà un’occasione per conoscerci di persona e per creare assieme una mobilità più sostenibile a Trento.</p>
              <br />
          </div>
      </div>
  </aside>
