  <aside class="bg-dark">
      <div class="container text-center">
<!--          <div class="news">
              <h2>News: PickMeUp su Sanbaradio! </h2>
              <br />
              <p class="wow tada">Ascolta l'intervista</p>
              <div>
                <audio controls>
                  <source src="http://www.sanbaradio.it/files/private/Servizio%20PickMeUp.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
              <br />
          </div>
  -->
          <div class="news">
              <h2>News</h2>
              <h3>Pickmeup sarà agli ICT days</h3>
              <a href="http://2016.ictdays.it/img/logo-ictdays-2015.svg"></a>
              <p>Il 10-11-12 Marzo Pickmeup sarà agli ICT days 2016 a Trento.</p>
              <p><a href="http://2016.ictdays.it/it/program-it">Qui</a> trovate il programma: venite a trovarci numerosi!</p>
              <p>Andate sul sito degli ICT days per saperne di più.</p>
              <br />
          </div>
      </div>
  </aside>
