  <aside class="bg-dark">
      <div class="container text-center">
          <div class="share">
              <h2>Aiutaci a diffondere Pickmeup </h2>
              <hr style="color:white"/>
              <br />
              <div>
              <p>Scarica e distribuisci il nostro  materiale informativo.</p>
              <p>
              Pickmeup è prima di tutto una iniziativa sociale: questo significa che
              per funzionare ha bisogno di una comunità che lo supporta costantemente.</p>
              <p>
              Stampa e distribuisci il materiale informativo per aiutarci a costuire la
              nostra comunità.</p>
              <p><a href="https://dl.dropboxusercontent.com/u/12016006/PickMeUp/pickmeup_img.zip">
              <i class="fa fa-cloud-download fa-3x"></i>
              </a>
              </p>
              </div>
              <br />
          </div>
      </div>
  </aside>
